# Entornos virtuales
venv/
venv1/
.env/

# Caché de Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Archivos de VS Code
.vscode/

# Archivos temporales
*.tmp
*.log

# Variables/credenciales
.env

# yaml
*.yaml